In [3]:
import pandas as pd 
import numpy as np

# Questão 1
Essa base de dados contém o consumo médio de bebidas alcoólicas em diversos países. As colunas dessa base são o nome do país (country), consumo de cerveja (beer_servings), destilados (spirit_servings), vinho (wine_servings) e o total de consumo de bebidas alcoólicas para cada pais ('total_litres_of_pure_alcohol'). A(s) coluna(s) que tem distribuição platicúrtica (curtose < 0) é (são): (selecione todas que são verdadeiras)

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/fivethirtyeight/data/master/alcohol-consumption/drinks.csv")
print(df.kurt()[df.kurt() < 0])
df.head(2)

beer_servings                  -0.462082
total_litres_of_pure_alcohol   -0.980222
dtype: float64

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9

# Questão 2
As colunas dessa base são o nome do país (country), consumo de cerveja (beer_servings), destilados (spirit_servings), vinho (wine_servings) e o total de consumo de bebidas alcoólicas para cada pais. O tipo de bebida que tem a maior mediana entre todos os países é:

In [5]:
df.median()

beer_servings                   76.0
spirit_servings                 56.0
wine_servings                    8.0
total_litres_of_pure_alcohol     4.2
dtype: float64

# Questão 3
A coluna 'tip' tem uma obliquidade  ???
 que a coluna 'tip_percapta', e a coluna 'tip' tem uma obliquidade
???
 que a coluna 'tip_percent'.

In [6]:
tips = pd.read_csv("https://raw.githubusercontent.com/schloerke/cranvasOLD/master/files/data/tips.csv")
tips = tips.iloc[:,1:]
tips['tip_percapita'] = tips['tip']/tips['size']
tips['tip_percent'] = tips['tip']/tips['total_bill']
tips.head(2)

,total_bill,tip,sex,smoker,day,time,size,tip_percapita,tip_percent
0,16.99,1.01,Female,No,Sun,Dinner,2,0.505000,0.059447
1,10.34,1.66,Male,No,Sun,Dinner,3,0.553333,0.160542

In [11]:
tips[['tip_percapita','tip','tip_percent']].skew()

tip_percapita    1.093185
tip              1.465451
tip_percent      3.349217
dtype: float64

# Questão 4
Essa base de dados contém informações nutricionais sobre diferentes tipos de chocolate, com as colunas nome (Name), fabricante (MFR), país (Country), tipo (Type), caloria (Calories), calorias referente a gordura (CalFat), total de gordura (TotalFat), colesterol (Chol), Sódio (Na), carboidratos (Carb), Fibras (Fiber), açúcares (Sugar), e proteínas (Protein). Para essa base de dados, responda (dica: se estiver usando o pandas, pesquise pelo uso groupby, que pode lhe ajudar em alguns casos).

O desvio padrão da coluna colesterol (Chol) é maior para o tipo (Type) Resposta
, o país (Country) cuja média de acúçar (Sugar) é maior é o Resposta
.

In [16]:
df = pd.read_csv("https://raw.githubusercontent.com/schloerke/cranvasOLD/master/files/data/chocolates.csv")
df.head(2)

,Name,MFR,Country,Type,Calories,CalFat,TotFat,SatFat,Chol,Na,Carbs,Fiber,Sugars,Protein
0,Noir 86% Cacao,Cote D'Or,Belgium,Dark,460.0,380.0,44.0,26.0,0.0,0.0,28.0,10.0,10.0,8.0
1,70% Cocoa,Cote D'Or,Belgium,Dark,600.0,432.0,48.0,30.0,10.0,0.0,42.0,10.0,28.0,8.0

In [17]:
df.groupby("Type")['Chol'].std()

Type
Dark    7.391411
Milk    9.255840
Name: Chol, dtype: float64

In [18]:
df.groupby("Country")['Sugars'].mean()

Country
Austria        57.537879
Belgium        35.881920
Colombia       37.619048
France         33.777512
German         46.695000
Switzerland    42.662003
UK             21.156293
US             41.570380
Name: Sugars, dtype: float64

# Questão 5
Essa base de dados contém dados sobre indígenas da etnia Pima (dos EUA), com relação a incidência de diabetes.

pregnancy: número de gravidezes
plasma: concentração de glucose no plasma
diastolic_bp: pressão sanguínea diastólica
triceps: espessura do trícepes
insulin: nível de insulana
bmi: índice de massa corporal
diabets pedigree: escore do histórico familiar de diabetes
age: idade
diagnostic: diagnóstico 0 (não diabético), 1 (diabético)


A quantidade de valores ausentes para o atributo insulin é maior para o diagnóstico
0

Remover os registros com valores ausentes
Aumenta
 a média da coluna bmi.

Substituir os valores ausentes pela média
Diminui
 o desvio padrão da coluna distolic_pb.

In [19]:
df = pd.read_csv("http://professor.ufabc.edu.br/~ronaldo.prati/MineracaoDados/bases/pima.csv")
df.head(2)

,Unnamed: 0,pregnancy,plasma,diastolic_bp,triceps,insulin,bmi,diabets pedigree,age,diagnostic
0,0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0

In [36]:
df.insulin.isnull().groupby(df['diagnostic']).sum()

diagnostic
0    236
1    138
Name: insulin, dtype: int64

In [39]:
print("Original:", df.bmi.mean())
print("Dropped:", df.dropna().bmi.mean())

Original: 32.45746367239099
Dropped: 33.086224489795896

In [42]:
print("Original:", df.diastolic_bp.std())
print("Replaced:", df.diastolic_bp.fillna(df.diastolic_bp.mean()).std())

Original: 12.382158210105263
Replaced: 12.096346184037948